:root {
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --dark-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}
body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
}
h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}
h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}
.title {
  color: rgb(155, 77, 25);
  margin-top: 3rem;
  margin-bottom: 1em;
}

.custom-container {
  width: 80%;
  margin: 0 auto;
}
.container-fluid {
  padding: 20px 10%;
}
.bg-grey {
  background-color: #f6f6f6;
}
.slideanim {
  visibility: hidden;
}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
/*
=======
navbar
=======
*/
.navbar {
  margin-bottom: 0;

  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: "Work Sans", sans-serif;
}
.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}
.navbar li a,
.navbar .navbar-brand {
  color: #fff !important;
}
.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: peachpuff !important;
  /* background-color: rgb(240, 196, 196) !important; */
}
.navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
/* end navbar */

/*
======
jumbotron
======
*/
.jumbotron {
  /* background-color: #f4511e; */
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 1));
  color: #fff;
  padding: 100px 25px;
  font-family: Montserrat, sans-serif;
  height: 600px;
  align-items: center;
  margin-bottom: 0;
}
.jumbotron h1 {
  position: relative;
  top: 150px;
}
.jumbotron button {
  position: relative;
  top: 180px;
}
/* end jumbotron */
/*
======
about
======
*/
.about {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 4rem;
  position: relative;
  background-color: rgba(106, 128, 255, 0.2);
}
.about img {
  height: 70%;
  width: 70%;
  border-radius: 50%;
}
.about span {
  display: block;
  color: purple;
  font-size: 25px;
  text-shadow: 1px 1px 5px black;
}
.about .desc {
  padding: 2em;

  border-left: 4px solid rgba(0, 0, 0, 0.8);
}
.about .desc h3 {
  color: rgba(0, 0, 0, 0.8);
}
.about .desc p {
  line-height: 2;
  font-size: 90%;
  color: #888;
}
/* end about*/

/*
=============== 
Jobs
===============
*/

.jobs-center {
  width: 50%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 200px 1fr;
  border: solid red;
  max-width: var(--max-width);
}
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4rem;
  flex-wrap: wrap;
}
.job-btn {
  background: transparent;
  border: none;
  text-transform: capitalize;
  font-size: 1.25rem;
  letter-spacing: var(--spacing);
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
  padding: 0.25rem 0;
  line-height: 1;
  outline-color: purple;
}
.job-btn:hover {
  color: purple;
  box-shadow: 0 2px purple;
}
.active-btn {
  color: purple;
  /* box-shadow: 0 2px purple; */
}

.job-date {
  letter-spacing: var(--spacing);
}
.job-desc {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  align-items: center;
  margin-bottom: 1.25rem;
}
.job-desc p {
  margin-bottom: 0;
  color: var(--clr-grey-3);
}
.job-icon {
  color: rgb(4, 4, 139);
}

.logo-small {
  color: rgb(255, 255, 255);
  font-size: 15px;
}

#portfolio {
  background-color: rgb(36, 35, 104);
}

#portfolio {
  color: white;
}
/*end job*/

/* 
======
fixed Backgound
======
*/
.fixedBg {
  background-image: url("./img/nav-bcg.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* end fixedBg*/

/*
======
Projects
*/
.thumbnail {
  padding: 0 0 15px 0;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  border-radius: 0;
  position: relative;
}
.thumbnail p {
  color: black;
  font-size: 90%;
}
.thumbnail:hover {
  box-shadow: var(--dark-shadow);
}
.thumbnail img {
  width: 100%;
  margin-bottom: 10px;
}
/* end Projects */

/*
======
Footer
======
*/
.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.github:hover {
  background-color: #ea4c89;
}

/*end Footer*/

/*
======
chat boot
======
*/
/* .rcw-conversation-container .rcw-header {
  background-color: black;
} */

/* .rcw-message > .rcw-response {
  background-color: rgb(255, 11, 11);
  color: white;
} */

.logo {
  color: peachpuff;
  font-size: 200px;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
  color: #f4511e;
}
.carousel-indicators li {
  border-color: #f4511e;
}
.carousel-indicators li.active {
  background-color: #f4511e;
}
.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}
.item span {
  font-style: normal;
}
.panel {
  border: 1px solid #f4511e;
  border-radius: 0 !important;
  transition: box-shadow 0.5s;
}
.panel:hover {
  box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.2);
}
.panel-footer .btn:hover {
  border: 1px solid #f4511e;
  background-color: #fff !important;
  color: #f4511e;
}
.panel-heading {
  color: #fff !important;
  background-color: #f4511e !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.panel-footer {
  background-color: white !important;
}
.panel-footer h3 {
  font-size: 32px;
}
.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}
.panel-footer .btn {
  margin: 15px 0;
  background-color: #f4511e;
  color: #fff;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@media screen and (max-width: 992px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
  .thumbnail .btn {
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  .jumbotron {
    height: 400px;
  }
  .jumbotron h1 {
    top: 80px;
  }
  .jumbotron button {
    top: 100px;
  }
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
  .about .desc {
    margin-top: 5rem;
  }
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
  .thumbnail p {
    font-size: 10px;
  }
}
@media screen and (max-width: 480px) {
  .jumbotron {
    height: 300px;
  }
  .jumbotron h1 {
    top: 50px;
  }
  .jumbotron button {
    top: 30px;
    font-size: 10px;
  }
  .jobs-center {
    display: flex;
  }
  .logo {
    font-size: 150px;
  }
  h1 {
    font-size: small;
  }
  .logo-small {
    font-size: 10px;
  }
  h6 {
    font-size: 8px;
  }
  .custom-container {
    width: 100%;
  }
}
